<%provide(:title, "Help")%>
<h1>Help</h1>
  <p>
    Get help on the Ruby on Rails tutorial on the
    <a href="https://www.railstutorial.org/#help">Rails tutorial help section</a>.
  </p>
  <b>This is bold</b>
  <em>This is italics</em>

